package {{package}};

import org.jspecify.annotations.NullMarked;

/**
 * <a href="https://developer.spotify.com/documentation/web-api/concepts/scopes">Authorization Scopes</a>
 */
@NullMarked
public enum {{className}} {
{{#scopes}}
    /**
     * {{description}}
     */
    {{enumName}}("{{name}}"){{#last}};{{/last}}{{^last}},{{/last}}
{{/scopes}}

    private final String scopeName;

    Scope(String scopeName) {
        this.scopeName = scopeName;
    }

    public String getName() {
        return scopeName;
    }
}
