name: Build
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['17', '21']
    name: Build on Java ${{ matrix.java }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'
      - name: Build
        run: ./mvnw -B -ntp package -Pcli
      - name: Generate Java wrapper
        run: ./generate-java-wrapper.sh
      - name: Test
        run: ./mvnw -B -ntp clean verify
      - name: Check for generator results
        run: |
          git status --porcelain
          git diff --exit-code
